@font-face {
  font-family: "PTSans Regular";
  src: url("/assets/fonts/PT_Sans/PT_Sans-Web-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSans Bold";
  src: url("/assets/fonts/PT_Sans/PT_Sans-Web-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSans Narrow Regular";
  src: url("/assets/fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSans Narrow Bold";
  src: url("/assets/fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PoiretOne Regular";
  src: url("/assets/fonts/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PoiretOne Bold";
  src: url("/assets/fonts/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Comfortaa Regular";
  src: url("/assets/fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Comfortaa Bold";
  src: url("/assets/fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Regular Bold";
  src: url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/*
@font-face {
  font-family: "PTSans Bold";
  src: url("../fonts/ptsans_bold.eot");
  src: url("../fonts/ptsans_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans_bold.woff") format("woff"), url("../fonts/ptsans_bold.ttf") format("truetype"), url("../fonts/ptsans_bold.svg#ptsans_bold") format("svg");
  font-style: normal;
  font-weight: normal;
}
*/

/*
 * red 1 e1001b
 * pink e10065
 * orange e13000
 * lightpink ff475d
 * grey 707070
 * black 000000
 * */

body{font-family:"Roboto Regular", Arial, sans-serif;font-size:14px; color:#131313; max-width: 1440px;}
strong, .bold{font-family: "Roboto Regular Bold";}
h1, h2, h3, h4, h5, h6, h7{font-family: "PTSans Narrow Regular";/*color:#e1001b;*/}
hr{border-color:#eeeeee;}
a.active{font-weight:bold;}
table{font-size:0.8rem;}
.acb-breadcrumbs{margin: 0.5rem 0; font-family:"Roboto Condensed";}
.acb-breadcrumbs li{font-size:0.8rem;}
.branchinfo{padding-bottom:20px;}
.branchinfo-row{padding-bottom:10px;}
.brand{font-size:1.2em;padding:0;margin:0;}
.button{font-size:1em;}
.content-block{text-align:justify;}
.document-link-row{padding:2% 0; border-bottom:solid 1px #dddddd;}
.document-link-row:first-child{border-top:solid 1px #dddddd;}
.nav-bar{background-color:#e6e6e6;padding: 0.6rem; overflow:hidden;}
.news-date-index{padding-right:20px;}
.inner-submenu-wrapper{display: none;}
.inner-submenu-container{width: 25%; padding:1% 0;float:left;}
.inner-submenu-container a{/*color:#666666;text-decoration:none;*/}
.inner-submenu-container>a{color:#444444;text-decoration:none;}
/*.inner-submenu-container a:hover{color:#000000;}*/
.inner-submenu-container h4{font-size:1.1em; font-weight:bold; padding:0;margin:0;}
.inner-submenu-container ul li{list-style-type:none;}
.rates-table-row{font-size:1.2em;padding-top:1%;padding-bottom:1%;}
.tabbed{display:none;}
.tabbed-container .active{display:block}
.tabber{clear:both; overflow:hidden;padding:0 0 10px 0; margin:0 0 10px 0;}
.tabber a{color: #707070; border-bottom: solid 1px #eeeeee; padding-bottom: 2%;}
.tabber a.active{color:#000000;border-bottom:solid 1px #e1001b;}
.table-expanded{width:100%;}
.table-cell{display:table-cell;}
.table-view{display:table;}
.top-bar, .top-bar ul{background-color:#ffffff;}
.top-bar a{font-family:"PTSans Narrow Regular"; color:#000000;}
.top-bar a:hover{color:#ff475d;}

.top-products-item{height:200px;}
.top-products-item-active{background-color: #e5e5e5;}
.unstyled-list li{list-style-type:none;}

/* color classes */
.red{color:#e1001b;}
.red-bordered{border-color:#e1001b;}
.pink {color:#e10065;}
.orange {color:#e13000;}
.lightpink {color:#ff475d;}
.grey {color:#707070;}
.black {color:#131313;}
.bg-lightgrey{background-color: #f5f5f5;}

.banner{position:relative; width:50%;height:50%;float:left;border-left: solid 1px #FFFFFF;border-bottom: solid 1px #FFFFFF;}
.banner-container{display:table-cell;}
.banner-container ul{display:block; padding:0; margin:0; width:100%;height:100%;}
.banner-container ul li{list-style-type: none;}
.banner-container ul li img{position:relative;width:inherit;height:inherit;}
.banner-main-bannerslot{display:table; width:100%; max-height:600px;}
.bg{position:absolute;top:0;left:0;width:100%;height:100%;}
.bg-h{position:absolute;top:0;left:0;height:100%;}
.deposits-list-item{/*background-color: #f5f5f5;*/ min-height:200px;}
.deposits-list-item a:hover{background-color: #f5f5f5;}
.has-indent{text-indent:4%;}
.height3{border-width: 0 0 3px;}
.main-banner{position:absolute;width:100%; height:100%; top:0;left:0;}
.m0{margin:0;}
.m2p{margin:2%;}
.m4p{margin:4%;}
.m2p-top{margin-top:2%;}
.m4p-top{margin-top:4%;}
.m2p-bottom{margin-bottom:2%;}
.m4p-bottom{margin-bottom:4%;}
.main-nav-a{/*color:#f0f0f0; text-decoration:none;*/ font-size:0.85em; padding:0.7em 5em 0.7em 0 !important;}
.main-nav-a:hover{/*color:#ffffff;*/}
.normal{font-weight:normal;}
.p0{padding:0;}
.p0-bottom{padding-bottom:0 !important;}
.p2p{padding:2%;}
.p4p{padding:4%;}
.p2p-top{padding-top:2%;}
.p4p-top{padding-top:4%;}
.p2p-bottom{padding-bottom:2%;}
.p4p-bottom{padding-bottom:4%;}
.plus-item{font-size:1.2em; font-weight:bold; margin-right: 2%;}
.pros-list li{list-style-type:none;}
.rounded-2{border-radius:2px;}
.smaller{font-size:0.8rem;}
.smallest{font-size:0.7rem;}
.tiny{font-size:0.6rem;}
.uppercased{text-transform:uppercase;}


#branches-wr{position:relative;}
#branchview-manager{width:100%;position:absolute;top:0;left:0;}
#branchview-manager-wr{position:absolute; z-index:1001; top: 0.465375rem; right:0.9375rem;}
#branchview-manager-callout{background-color:rgba(235, 235, 235, 0.6);}
#conditions ul{padding:0; margin: 0;}
#conditions ul li{list-style-type: none;}
#conditions ul li ul{padding-left:5%; margin: 0;}
#footer{
    position:relative;
    z-index: 1050;
    background-color:#ffffff;
}
#main-banner-container{position:relative;height:100%;width:60%; background-color: #eeeeee;overflow:hidden;border-bottom: solid 1px #FFFFFF;}
#banners-container{position:relative;height:100%;width:40%;background-color: #dddddd; overflow:hidden;}
#main-nav{/*background-color: #e1001b; *//* #252525 */;}
#map-wr{z-index:1000;width:100%;height:100%;}
#search-top-fieldgroup input, #search-top-fieldgroup button{height:1.8rem;}
#sidenav{padding: 20px 10px;border-left:solid 2px #eeeeee;}
#subnavs-wrapper{
    display:none;
    position:absolute;
    width:100%;
    background-color:#f5f5f5;
    padding-bottom:20px;
    border: solid 1px #d5d5d5; 
    /*border-top:none;*/
    z-index:1100;
    }
#teln{margin-right: 5%;}
#top-products{background-color: #f5f5f5;}
#top-products a, #deposits-list a{display:block; text-decoration: none; outline:none; color: #343434; height:inherit;}
