@font-face {
  font-family: "PTSans Narrow Regular";
  src: url("/assets/fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSans Narrow Bold";
  src: url("/assets/fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "Roboto Regular";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Regular Bold";
  src: url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}



/*
 * red 1 e1001b
 * pink e10065
 * orange e13000
 * lightpink ff475d
 * grey 707070
 * black 000000
 * */

body{font-family:"Roboto Regular", Arial, sans-serif;font-size:15px; color:#131313; max-width: 1440px;}
strong, .bold{font-family: "Roboto Regular Bold";}
h1, h2, h3, h4, h5, h6, h7{
    font-family: "PTSans Narrow Regular";
    color:#898989;
    text-align:left;
}
hr{border-color:#eeeeee;}
/*a.active{font-weight:bold;}*/
/*table{border:solid 1px #DEE7EF !important; border-collapse:separate;}*/
table{border-collapse:separate;}
/*table thead{background: #DEE7EF; border-bottom: solid 3px #9CAAC6; color: #5A79A5;}*/
table thead{background: #f0f0f0; color: #b22222;}
/*table tbody td{border-bottom:solid 1px #DEE7EF !important;}*/
table tbody td{border-bottom:solid 1px #dddddd !important; background-color:#f9f9f9;}
table tbody tr:last-child td{border-bottom:none !important;}
table tbody tr:nth-child(2n) {
    background-color: #ffffff;
}
.no-background-table *{background-color: transparent;}
.acb-breadcrumbs{margin: 0.5rem 0; font-family:"Roboto Condensed";}
.acb-breadcrumbs li{font-size:0.7rem;}
.annot-item-deposit-rate{font-size: 2em;}
.branchinfo{padding-bottom:4%;}
.branchinfo-row{padding-bottom:10px;}
.brand{font-size:1.2em;padding:0;margin:0;}
.button{font-size:1em;}
.calc-res-row{padding: 1% 0;}
.calc-res-block{display:none;}
.content-block{text-align:justify;}
.document-link-row{padding:2% 0; border-bottom:solid 1px #dddddd;}
.document-link-row:first-child{border-top:solid 1px #dddddd;}
.document-link-row:last-child{border-bottom:none;}
.errors-wr, .error{display:none;}
.free-label{
    position:fixed;
    z-index:1000;
    display:block;
    padding:4px;
    }
.nav-bar{background-color:#e6e6e6;padding: 0.6rem; overflow:hidden;}
.news-announce-index{padding-left:12%;}
.news-date-index{width:12%; height:40px;float:left;}
.inner-submenu-wrapper{display: none;}
.inner-submenu-container{width: 25%; padding:1% 0;float:left;}
.inner-submenu-container a{/*color:#666666;text-decoration:none;*/}
.inner-submenu-container>a{/*font-size:115%;line-height:1.5em;*/ color:#444444;text-decoration:none;}
.inner-submenu-container>a:hover{color:#b22222;}
.inner-submenu-container>a.active{color:#b22222; text-decoration:underline;}
/*.inner-submenu-container a:hover{color:#000000;}*/
.inner-submenu-container h4{font-size:1.1em; font-weight:bold; padding:0;margin:0;}
.inner-submenu-container ul li{list-style-type:none;}
.rates-table-row{font-size:1.2em;padding-top:1%;padding-bottom:1%;}
.tabbed{display:none;}
.tabbed-container .active{display:block}
.tabber{clear:both; overflow:hidden;padding:0 0 10px 0; margin:0 0 10px 0;}
.tabber a{color: #707070; border-bottom: solid 1px #eeeeee; padding-bottom: 2%;}
.tabber a.active{color:#000000;border-bottom:solid 1px #e1001b;}
.table-expanded{width:100%;}
.table-cell{display:table-cell;}
.table-view{display:table;}

.top-bar, .top-bar ul{background-color:#ffffff;}
.top-bar a{}
.top-bar a:hover{}

.top-products-item{height:220px; border:solid 1px #ffffff; border-bottom:none;}
.top-products-item:nth-child(even){border-left:none; border-right:none;}
.top-products-item:nth-child(odd){border-right:none;}
.top-products-item ul{margin:0; padding:0; list-style:none;}
.top-products-item ul li{font-size:1.2em;}
.top-products-item-active{background-color: #e88585;}
.top-products-item-active a{color:#ffffff !important;}
.unstyled-list li{list-style-type:none;}

/* color classes */
.red{color:#b22222;}
.red-bordered{border-color:#b22222;}
.pink {color:#e10065;}
.orange {color:#e13000;}
.lightpink {color:#ff475d;}
.grey {color:#707070;}
.black {color:#131313;}
.bg-lightgrey{background-color: #f5f5f5;}
.bg-red{background-color: #b22222; color:#ffffff;}


.banner{position:relative; width:50%;height:50%;float:left;border-left: solid 1px #FFFFFF;border-bottom: solid 1px #FFFFFF;}
.banner-container{display:table-cell;}
.banner-container ul{display:block; padding:0; margin:0; width:100%;height:100%;}
.banner-container ul li{list-style-type: none;}
.banner-container ul li img{position:relative;width:inherit;height:inherit;}
.banner-main-bannerslot{display:table; width:100%; max-height:550px;}
.bg{position:absolute;top:0;left:0;width:100%;height:100%;}
.bg-h{position:absolute;top:0;left:0;height:100%;}
.bottom-nav-a{color:/*#f0f0f0*/ #272c2f; text-decoration:none; font-size:/*0.85em*/ 0.9em;}
.bottom-nav-a:focus{outline:none; color:/*#f0f0f0*/ #B22222;}
.bottom-nav-a:hover{color:/*#ffffff*/ #B22222;}
.deposits-list-item{
    min-height:200px;
    }
.deposits-list-item p{font-size:1.2em;}
.deposits-list-item a{background-color: #f5f5f5; border-bottom:solid 1px #ffffff;}
.deposits-list-item a:hover{background-color: #e88585; color:#ffffff !important;}
.has-indent{text-indent:4%;}
.height3{border-width: 0 0 3px;}
.main-banner{position:absolute;width:100%; height:100%; top:0;left:0;}
.m0{margin:0;}
.m2p{margin:2%;}
.m4p{margin:4%;}
.m2p-top{margin-top:2%;}
.m4p-top{margin-top:4%;}
.m2p-bottom{margin-bottom:2%;}
.m4p-bottom{margin-bottom:4%;}
.main-nav{padding-top:2.7%;}
.main-nav .active{color: #B22222;border-bottom: solid 2px #B22222; padding:0 0 2px 0 !important;}
.main-nav li{/*padding:0.5em 1em 0.5em 1em !important;*/ padding: 0 0.5em;}
.main-nav-a{
    color:/*#f0f0f0*/ #272c2f; 
    text-decoration:none; 
    font-size:/*0.85em*/ 0.9em;
    /*font-weight:bold;*/
    /*padding:0.7em 1em 0.7em 1em !important;*/
    padding:0 0 4px 0 !important;
    
}
.main-nav-a:focus{outline:none; color:/*#f0f0f0*/ #B22222;}
.main-nav-a:hover{color:/*#ffffff*/ #B22222;}
.normal{font-weight:normal;}
.p0{padding:0;}
.p0-bottom{padding-bottom:0 !important;}
.p2p{padding:2%;}
.p4p{padding:4%;}
.p2p-top{padding-top:2%;}
.p4p-top{padding-top:4%;}
.p2p-bottom{padding-bottom:2%;}
.p4p-bottom{padding-bottom:4%;}
.plus-item{font-size:1.2em; font-weight:bold; margin-right: 2%;}
.promo-annot-item{}
.pros-list li{list-style-type:none;}
.rounded-2{border-radius:2px;}
.smaller{font-size:0.8rem;}
.smallest{font-size:0.7rem;}
.tiny{font-size:0.6rem;}
.uppercased{text-transform:uppercase;}

#acb-top-bar-title{width:13%; margin-right:30%;}
#calculator{}
#callback{top:20%; right:0;}
#cc-info{top:0; width:14%; left:66%; padding:0.2% 0;}
#branches-wr{position:relative;z-index:800;}
#branchview-manager{width:100%;position:absolute;top:0;left:0;}
#branchview-manager-wr{position:fixed; z-index:1001; top: 16%; right:0.9375rem;}
#branchview-manager-callout{background-color:rgba(235, 235, 235, 0.9);}
#bottomnav{}
#conditions ul{padding:0; margin: 0;}
#conditions ul li{list-style-type: none;}
#conditions ul li ul{padding-left:5%; margin: 0;}
#deposits-list ul{margin:0;padding:0;list-style:none;}
#deposits-list ul li{border-bottom: solid 1px #eeeeee;}
#deposits-list ul li:last-child{border-bottom:none;}
#footer{
    position:relative;
    z-index: 1050;
    background-color:#ffffff;
}
#indsearch-form{padding-top:4%;};
#logo-img{width:86%;}
#main-banner-container{position:relative;height:100%;width:60%; background-color: #eeeeee;overflow:hidden;border-bottom: solid 1px #FFFFFF;}
#banners-container{position:relative;height:100%;width:40%;background-color: #dddddd; overflow:hidden;}
#main-nav{
    background-color:/*#e1001b*/ /*#cc0000*/ /*#B22222*/ #FFFFFF; 
    box-shadow: 0 1px 3px #d6d6d6; 
    padding:2em 0 0.8em 0;
    position:fixed;
    top:0;
    width:100%;
    z-index:900;
    /*border-bottom: solid 1px #dddddd;*/
    }
#map-wr{z-index:1000;width:100%;height:100%;}
#search-top-fieldgroup{border:solid 1px #DDDDDD; padding:2%;}
#search-top-fieldgroup input{
    height:inherit; 
    border: none; 
    box-shadow:none; 
    margin:0; 
    padding:0; 
    font-size:0.9em;
    color:#707070;
} 
#search-top-fieldgroup button{height:20px; width:20px; margin-left:4px;}
#search-top-fieldgroup button img{height:85%;}
#sidenav{padding: 20px 10px;border-left:solid 8px #eeeeee; position:fixed;top:101px;}
#sidenav>li>a{padding:0.4em 1em;}
#sidenav .active-item{color:#131313;}
#statuscode-header{font-size:4em;font-weight:bold;color:#B22222;}
#statuscode-header small{font-size:0.6em; font-weight: normal;}
#subnavs-wrapper{
    display:none;
    position:absolute;
    width:100%;
    background-color:/*#f5f5f5*/ #F9F9F9;
    padding-bottom:20px;
    border-bottom: solid 6px #d5d5d5; 
    /*border-top:none;*/
    z-index:899;
    }
#teln{line-height:0.5em;margin-top:4%;}
#top-products{background-color: #f5f5f5; overflow:hidden;}
#top-products a, #deposits-list a{display:block; text-decoration: none; outline:none; color: #343434; height:inherit;}

/* rewrite default values of foundation */
a,.breadcrumbs a{color:#5A79A5;}
a:hover{color:#9CAAC6;}
.button{background-color:#5A79A5;}
.button:hover{background-color: #9CAAC6;}
input:checked ~ .switch-paddle {
    background: #5A79A5 none repeat scroll 0 0;
}
